.fotopakgen img
{
    margin-top: 60px;
    margin-left: 60px;
}
.fotopakgen p
{
    font-family: nexa;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 45px;
    color: #CCCC00; 
}
.fotobugen img{
    margin-top: 60px;
    margin-left: 60px;
}
.fotobugen p 
{
    font-family: nexa;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 45px;
    color: #CCCC00;   
}
.fotoatta img
{
    margin-top: 60px;
    margin-left: 60px;
}
.fotoatta p
{
    font-family: nexa;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 45px;
    color: #CCCC00;  
}
.fotothariq img
{
    margin-top: 60px;
    margin-left: 60px;
}
.fotothariq p
{
    font-family: nexa;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 45px;
    color: #CCCC00;  
}
.fotosaih img
{
    margin-top: 60px;
    margin-left: 60px;
}
.fotosaih p
{
    font-family: nexa;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 45px;
    color: #CCCC00;  
}