
.pakgen{
    float: left;
    display: block;
    margin-left: 10px;
    margin-right: 20px;  
    margin-top: 20px; 
}
.bugen
{
    float: left;
    display: block;
    margin-left: 20px;
    margin-right: 100px;  
    margin-top: 20px; 
}
.atta{
    float: right;
    display: block;
    margin-left: 20px;
    margin-right: 20px; 
    margin-top: 20px;
} 
.thariq
{
    float: right;
    display: block;
    margin-left: 20px;
    margin-right: 20px;  
    margin-top: 20px;    
}
.saih {
    float: inherit;
    display: block;
    margin-left: 30px;
    margin-right: 10px;  
    margin-top: 20px;   
} 
.sajidah{
    float: left;
    display: block;
    margin-left: 10px;
    margin-right: 20px;  
    margin-top: 100px; 
}
.sohwa
{
    float: left;
    display: block;
    margin-left: 20px;
    margin-right: 100px;  
    margin-top: 100px; 
}
.iyyah {
    float: right;
    display: block;
    margin-left: 30px;
    margin-right: 30px;  
    margin-top: 100px;   
}  
.fatimah 
{
    float: right;
    display: block;
    margin-left: 20px;
    margin-right: 20px;  
    margin-top: 100px;   
}
.saleha {
    float: inherit;
    display: block;
    margin-left: 30px;
    margin-right: 30px;  
    margin-top: 100px;   
}
.bawah
{
    padding: 0px;
    margin-left: 15%;
    margin-right: 10%;
} 
.qahtan
{
    margin-left: 30px;
    margin-right: 40px;  
    margin-top: 100px;    
}   
.fateh
{
    margin-left: 50px;
    margin-right:50px;  
    margin-top: 100px;    
}
.muntaz
{
    margin-left: 50px;
    margin-right: 50px;  
    margin-top: 100px;    
}
.fotopakgen img
{
    margin-top: 60px;
    margin-left: 60px;
    image;
}
.fotopakgen p
{
    font-family: nexa;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 45px;
    color: #CCCC00
}
